@page
@using Razor.Models
@using Razor.Controllers
@using Entityclass

<h2>Home</h2>

@(Html.DevExtreme().DataGrid<Tb1>()
    .ShowBorders(true)
    .DataSource(d => d.Mvc()
    .Controller("PCWBSwithBase")
        .LoadAction("Get")
        .InsertAction("Insert")
        .UpdateAction("Update")
        .DeleteAction("Delete")
        .Key("PK"))
    .Columns(columns => {
        columns.AddFor(m => m.PK).AllowEditing(false);
        columns.AddFor(m => m.b);
        columns.AddFor(m => m.c);
        columns.AddFor(m => m.d);
        columns.AddFor(m => m.e);
        columns.AddFor(m => m.FKTb2).Lookup(lookup =>
        lookup.DataSource(d => d.Mvc()
            .Controller("EntityBwithBase")
            .LoadAction("Get"))
        .ValueExpr("PK")
        .DisplayExpr("ee"));
    })
    .Editing(e => e.AllowAdding(true).AllowUpdating(true).AllowDeleting(true))
    .Export(e => e.Enabled(true))
)
